<script id="storefront.create-customer-review-dialog.tpl" type="text/ng-template">
    <div class="ajaxify-modal is-visible" id="ajaxifyModal" style="opacity: 1;">
        <button class="ajaxifyCart--close" title="{{ 'dialog.close_cart' | t }}" ng-click="close()">{{ 'cart.general.close_cart' | t }}</button>
        <div class="ajaxifyCart--content" id="ajaxifyCart">
            <h1 class="h2">Create review</h1>
            <div class="cart-row">
                <div class="grid" ng-controller="productController">
                    <div class="grid-item">
                        <label class="form-label">Author</label>
                        <input type="text" name="authorNickname" ng-model="dialogData.authorNickname"></input>
                    </div>
                    <div class="grid-item">
                        <label class="form-label">Rating</label>
                        <div star-rating rating-value="1" max="5" on-rating-selected="updateProductRating(dialogData, rating)"></div>
                    </div>

                    <div class="grid-item" ng-repeat="value in dialogData.propertyValues">
                        <label class="form-label" ng-bind="value.property.name"></label>
                        <div star-rating rating-value="1" max="5" on-rating-selected="updateProductPropertyRating(value, rating)"></div>
                    </div>

                    <div class="grid-item">
                        <label class="form-label">Content</label>
                        <textarea class="form-control"
                                  name="content"
                                  ng-model="dialogData.content"></textarea>
                    </div>
                </div>
            <div class="cart-row">
                <div class="grid">
                    <div class="grid-item text-right">
                        <button class="btn" ng-click="create()" ng-disabled="!dialogData.authorNickname || !dialogData.content">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ajaxifyCart-overlay"></div>
</script>
